.main__header {
  color: #ffffff;
  font-family: "Josefin Slab", serif;
}
.main__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
}
.main__button__conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__content {
  height: 70vh;
  width: 90vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.main__button {
  height: 48px;
  width: 190px;
  background-color: #2d2d2d;
  color: #ffffff;
  font-family: "Comfortaa";
  border-radius: 20px;
  margin-top: 15px;
  border: none;
  outline: none;
}
.main__button:active {
  background-color: #383838;
  transform: scale(0.95);
}
.qr__container{
  background-color: blue;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}