.plant__care__card {
  text-align: left;
  height: 85%;
  width: 85%;
  position: relative;
}
.plant__care__description {
  font-size: 17px;
  color: #ffffff;
  margin-top: 7px;
}
.description__card__container {
  display: flex;
  flex-direction: column;
}
.plant__care__description_input {
  background-color: #222222;
  font-size: 17px;
  color: #ffffff;
  margin-top: 7px;
  border: none;
  outline: none;
  font-family: "Comfortaa";
}
.close__btn {
  color: #ffffff;
  opacity: 80%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description__input {
  width: 80%;
  height: 30px;
  display: block;
}
.button__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.open {
  display: flex;
}

.close {
  display: none;
}

.btn {
  height: 40px;
  width: 65px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 15px;
}
.scale-up-center {
  animation: scale-up-center 1000ms ease 100ms 1 normal forwards;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.scale-out-center {
  animation: scale-out-center 1000ms ease 100ms 1 normal forwards;
}

@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}

.slide-in-bck-center {
  animation: slide-in-bck-center 954ms ease-out 71ms 1 normal backwards;
}

@keyframes slide-in-bck-center {
  0% {
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
