.plant__banner__image__conatiner {
  height: 30vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}
.img__circle__border {
  border: 1px solid white;
  background-color: white;
  height: 160px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.banner__img {
  width: 100vw;
  height: 30vh;
  filter: blur(20px);
  position: relative;
}
.plant__profile__img{
    height: 157px;
    width: 157px;
    border-radius: 50%;
    object-fit: cover;
}