.plant__title {
  color: #ffffff;
  opacity: 80%;
  font-size: 20px;
}
.plant__care__menu__icon {
  color: #ffffff;
  height: 30px;
  width: 30px;
}
.plant__care__menu {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.nickname {
  font-size: 15px;
  color: #ffffff;
  margin: 10px;
}
.plant__general_info__container {
  z-index: 1;
}

